/* 
white background : #f7f7f7
grey background : #d4d0ca
font-green : #1d200a
light green : #cccdbb 
olive green : #646b50
creamy : #d4b78d
black : #120e0d
accent : #606469 
*/

body{
    max-width: auto;
    margin: auto;
    background-color:#f7f7f7;
}

.top{
    display:block;
    text-align: center;
    padding: 1px;
    background-color:#d4d0ca;
    color: #646b50;
}

h1{
    color: #1d200a;
}




