/* 
redish : #8f1e20
brown: #b74c18
peach: #fecc8d
blue: #c6d0dc
darkblue: #242e3a
*/

body{
    max-width: 800px;
    margin: 5px auto;
}

.banner{
    display:block;
    text-align: center;
    background-color: #c6d0dc ;
    border: solid #242e3a;
    padding: 1px ;

}

h1{
    color: #242e3a;
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-size: 30px;

}

.recipe_links{
    display:block;
}

#one,
#two, 
#three{
    margin: 5px;
    padding: 5px;
}




