/* 
white background : #f7f7f7
grey background : #d4d0ca
font-green : #1d200a
light green : #cccdbb 
olive green : #646b50
creamy : #d4b78d
black : #120e0d
accent : #606469 
*/

html{
    background-color: white;
}
body{
    max-width: 800px;
    margin: 5px auto;
    background-color:#f7f7f7;
    border:3px solid;
    border-color: #646b50;
}

/* old body{
    max-width: 800px;
    margin: 5px auto;
    background-color:#f7f7f7;
}*/


.banner{
    display:block;
    text-align: center;
    padding: 1px ;
    background-color: #d4d0ca;
    color: #646b50;

}

h1{
    color: #1d200a;
    /*font-family: Georgia, Arial, Helvetica, sans-serif;*/ /*didn't like the font*/
    font-size: 40px;

}

.recipe_links{
    display:block;
}

#one,
#two, 
#three{
    margin: 5px;
    padding: 5px;
}






