/*styling for all recipe pages*/

/* 
white background : #f7f7f7
grey background : #d4d0ca
font-green : #1d200a
light green : #cccdbb 
olive green : #646b50
creamy : #d4b78d
black : #120e0d
accent : #606469 
*/

html{
    background-color: white;
}
body{
    max-width: 800px;
    margin: 5px auto;
    background-color:#f7f7f7;
    border:3px solid;
    border-color: #646b50;
}

.top{
    display:block;
    text-align: center;
    padding: 1px;
    background-color:#d4d0ca;
    color: #646b50;
}

h1{
    color: #1d200a;
    font-size: 40px;
}

#img1{
    border:5px solid;
    border-color: #646b50;
}

.ingredients{
    display:block;
    padding: 1px;
    color: #646b50;
}

.steps{
    display:block;
    padding: 1px;
    color: #646b50;
}

h3{
    color: #d4b78d;
}

b{
    color: #1d200a;
}

/*GC pizza extras*/

.notes{
    display:block;
    padding: 1px;
    color: #646b50;
}

#img2{
    border:5px solid;
    border-color: #646b50;
}






